alias customrc='micro /home/$USER/.customrc'
# alias docker='sudo docker'
alias pacman='sudo pacman'

alias y='yarn'
alias k='kubectl'
alias kconf='code ~/kube/'
alias haste='haste -d https://bin.helgesson.dev'
alias docker='sudo docker'

alias tarmake='tar -czvf'
alias xclipc='xclip -selection clipboard'

alias dev='zx ~/dotfiles/zx/dev.mjs'
