alias customrc='micro /home/$USER/.customrc'
# alias docker='sudo docker'
alias pacman='sudo pacman'

alias y='yarn'
alias p='pnpm'
alias k='kubectl'
alias kconf='code ~/kube/'
alias haste='haste -d https://bin.helgesson.dev'
alias docker='sudo docker'

alias tarmake='tar -czvf'
alias xclipc='xclip -selection clipboard'

alias rmm='/usr/bin/rm'
alias rm='trash'

alias dev='zx ~/dotfiles/zx/dev.mjs'

alias svdown="wpctl set-volume $(wpctl status | grep spotify | tail -1 | sed 's/[^0-9]*//g') 5%-"
alias svup="wpctl set-volume $(wpctl status | grep spotify | tail -1 | sed 's/[^0-9]*//g') 5%+"

if command -v exa &> dev/null
then
	alias ls='exa -al --color=always --group-directories-first'
	alias la='exa -a --color=always --group-directories-first' 
	alias ll='exa -l --color=always --group-directories-first'
	alias lt='exa -aT --color=always --group-directories-first'
else
	echo "No EXA installed, using normal ls command"
fi
